resource_group_name      = "feedback-analysis-rg"
location                 = "eastus"
app_service_location     = "westus2"
name_prefix              = "feedbackanalysis"
phi_deployment_name      = "chat-model"
phi_model_name           = "gpt-35-turbo"
phi_model_version        = "0125"
phi_deployment_capacity  = 1
app_service_sku          = "B1"
